<div class="page-wrapper">
  <!-- MENU SIDEBAR-->
  <aside class="menu-sidebar d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img
          src="assets/images/logo.png"
          alt="logo"
          class="img-responsive"
          style="height: 50px"
        />
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>
  </aside>
  <!-- END MENU SIDEBAR-->

  <!-- PAGE CONTAINER-->
  <div class="page-container">
    <!-- HEADER DESKTOP-->
    <header class="header-desktop">
      <div class="section-content section-content-p30">
        <div class="container-fluid">
          <div class="header-wrap">
            <app-search></app-search>

            <span style="display: flex; align-items: center; gap: 4px;">
              @if(loggedUser) {
              <div class="dropdown" style="margin-right: 8px;">
                <span>{{ loggedUser }}</span>
                <div class="dropdown-content">
                  <p class="dropdownItem" (click)="logout()">Logout</p>
                </div>
              </div>
              } @else {
              <a style="text-decoration: none; margin-right: 8px;" routerLink="/login">
                <span>sign in</span>
              </a>
              }

              @if(loggedUser) {
                <button routerLink="/members" class="au-btn-submit">Member</button>
              }

              @if(loggedUser) {
                <button routerLink="/order-history" class="au-btn-submit">Orders</button>
              }

              <app-cart-status></app-cart-status>
            </span>
          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- END HEADER DESKTOP-->

    <!-- MAIN CONTENT-->
    <router-outlet></router-outlet>
  </div>
</div>

<!-- END PAGE CONTAINER-->

<footer>
  <ul>
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
    <li><a href="#">Help</a></li>
  </ul>
</footer>
