<div class="parent">
  <div class="login-wrap">
    <div class="login-html">
      <input id="tab-1" type="radio" name="tab" class="sign-in" checked /><label
        for="tab-1"
        class="tab"
        >Sign In</label
      >
      <input id="tab-2" type="radio" name="tab" class="sign-up" /><label
        for="tab-2"
        class="tab"
        >Sign Up</label
      >
      <div class="login-form">
        <div class="sign-in-htm">
          <div class="group">
            <label for="email" class="label">Email</label>
            <input
              id="email"
              type="text"
              name="EmailLogin"
              [(ngModel)]="loginData.email"
              class="input"
            />
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input
              id="pass"
              type="password"
              name="PasswordLogin"
              [(ngModel)]="loginData.password"
              class="input"
              data-type="password"
            />
          </div>
          <div class="group">
            <input type="button" (click)="onLogin()" class="button" value="Sign In" />
          </div>
          <!-- <div class="hr"></div> -->
          <!-- <div class="foot-lnk">
            <a href="#forgot">Forgot Password?</a>
          </div> -->
        </div>
        <div class="sign-up-htm">
          <div class="group">
            <label for="firstName" class="label">First Name</label>
            <input id="firstName" [(ngModel)]="signupData.firstName" type="text" class="input" />
          </div>
          <div class="group">
            <label for="lastName" class="label">Last Name</label>
            <input id="lastName" [(ngModel)]="signupData.lastName" type="text" class="input" />
          </div>
          <div class="group">
            <label for="pass" class="label">Email Address</label>
            <input id="pass" [(ngModel)]="signupData.email" type="text" class="input" />
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            <input
              id="pass"
              type="password"
              [(ngModel)]="signupData.password"
              class="input"
              data-type="password"
            />
          </div>
          <div class="group">
            <label for="pass" class="label">Repeat Password</label>
            <input
              id="pass"
              type="password"
              [(ngModel)]="signupData.repeatPassword"
              class="input"
              data-type="password"
            />
          </div>
          <div class="group">
            <input type="button" (click)="onSignup()" class="button" value="Sign Up" />
          </div>
          <div class="hr"></div>
          <div class="foot-lnk">
            <label for="tab-1">Already Member?</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
